html {
    /* height: 100vh; */
}

body {
    background: #000;
    /* height: 500vh; */
}

/* -------- NEW  ---------- */
.anim {
    position: relative;
    opacity: 1;
    height: 10000px;
    max-width: 100%;
    transform: translate(0);
    transition: 3s ease all;
}
.anim.hide {
    opacity: 0;
    transform: translateY(200px);
    transition: 2s ease all;
}

.anim .canv-wrap {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
.anim canvas {
    display: block;
    margin: 0 auto;
}
/* ------------------ */

.kitchen-carousel--item {
    display: none;
}

.kitchen-carousel--item.active {
    opacity: 0;
    animation: ani 2.5s forwards;
    display: block;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    font-size: 13px;
    width: 880px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    margin-top: 12%;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.kitchen-carousel--item.noactive {
    opacity: 0;
    animation: anis 0.9s forwards;
    display: block;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    font-size: 13px;
    width: 880px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    margin-top: 12%;
}

@keyframes anis {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
